<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Assistant - Your Daily Task Manager</title>
  <meta name="description" content="Assistant is fully accessible Chrome extension which allows you to manage all your tasks.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600" rel="stylesheet">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>assistant</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but assistant doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <script type="text/javascript" src="<%= BASE_URL %>database.js"></script>
  <!-- built files will be auto injected -->
</body>

</html>