<template>
    <ul class="task-list">
        <li class="task-list__item" v-bind:key="task.id" v-for="(task, index) in taskCollection" v-bind:data-taskId="task.id">
            <div>
                <label class="control control--checkbox" v-bind:class="{'task-checked':task.isCompleted}" tabindex="-1">
                    <input type="checkbox" v-bind:checked="task.isCompleted" v-bind:value="task.name" v-on:change="isTaskCompleted({idx: index, id: task.id, status: !task.isCompleted})" v-bind:tabindex="isBlurred">
                    <div class="control__indicator"></div>
                    {{ task.name }}
                </label>
                <time v-bind:datetime="task.sTimestamp" class="task-content__timestamp">{{ task.timestamp }}</time>
                <div class="task-tags-container">
                    <span class="task-tag" v-bind:key="tag.id" v-for="tag in task.tags">{{ tag }}</span>
                </div>
            </div>
            <div class="task-actions">
                <button class="task-delete" v-bind:aria-label="'Delete task ' + task.name" v-on:click="deleteTask(task)" data-tooltip="Delete" v-bind:tabindex="isBlurred">
                    <img src="@/assets/icons/delete.svg"  alt="Delete task" />
                </button>
            </div>
        </li>
    </ul>
</template>

<script>
export default {
  name: "TaskList",
  methods: {
    isTaskCompleted(task) {
      this.$store.commit("isTaskCompleted", task);
    },
    deleteTask: function(task) {
      this.$store.commit("deleteTask", task);
    }
  },
  computed: {
    taskCollection: function() {
      return this.$store.state.taskCollection;
    },
    isBlurred() {
      const prefs = this.$store.state.preferences;
      const blurPrefStatus = prefs.find(pref => {
        if (pref.name === "blur") {
          return pref.status;
        }
      });
      return blurPrefStatus ? "-1" : null;
    }
  }
};
</script>
