<template>
    <footer class="task-footer">
          <form v-on:submit="addTask">
            <input id="taskInput" type="text" autocomplete="off"  placeholder="Jot down something" aria-label="Write a new todo item" ref="taskInput" v-model="taskInput" v-bind:aria-invalid="isEmpty">
            <button class="btn" type="submit" v-bind:disabled="isEmpty">Add task</button>
          </form>
        </footer>
</template>

<script>
export default {
  computed: {
    taskInput: {
      get() {
        return this.$store.state.taskInput;
      },
      set(value) {
        this.$store.commit("updateTaskInput", value);
      }
    },
    isEmpty: function() {
      return this.taskInput.length <= 0;
    }
  },
  methods: {
    addTask: function(e) {
      e.preventDefault();
      this.$store.commit("addTask");
    },
    setFocus: function() {
      this.$refs.taskInput.focus();
    }
  },
  mounted() {
    this.setFocus();
  }
};
</script>
