<template>
    <div>
        <section class="task-main">
            <main class="task-main__inner" v-bind:class="{ 'task-main__inner--blur': isBlurred }">
                <TaskList v-if="hasTaskCollection" />
                 <div class="task-main-empty" tabindex="-1" v-else>
                    Seems like you have completed all your tasks 😊 or there are still tasks that you may want to add here.
                    Add your first task ↓
                 </div>
            </main>
            <div class="at-only" role="status" aria-live="polite"> {{ taskFeedback }} </div>
            <TaskFooter />
        </section>
        <footer class="task-list-controls" v-if="hasTaskCollection">
            <form>
                <label class="control control--checkbox">
                    Blur mode <input type="checkbox" ref="isBlurred" v-model="isBlurred" aria-label="Turn blur mode">
                    <div class="control__indicator"></div>
                </label>
            </form>
        </footer>
    </div>
</template>

<script>
import TaskList from "./TaskList.vue";
import TaskFooter from "./TaskFooter.vue";
export default {
  name: "TaskContainer",
  components: {
    TaskList,
    TaskFooter
  },
  computed: {
    taskCollection() {
      return this.$store.state.taskCollection;
    },
    taskFeedback() {
      return this.$store.state.taskFeedback;
    },
    hasTaskCollection() {
      return this.$store.getters.hasTaskCollection;
    },
    isBlurred: {
      get() {
        const prefs = this.$store.state.preferences;
        return prefs.find(pref => {
          if (pref.name === "blur") {
            return pref.status;
          }
        });
      },
      set(value) {
        this.$store.commit("updatePreferences", {
          name: "blur",
          status: value
        });
      }
    }
  }
};
</script>
