<template>
    <div id="radialProgressBar" class="task-progress">
        <div class="task__progress-bar">
            <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px"
                    role="progressbar" aria-labelledby="radialProgressBarTitle" v-bind:aria-valuenow="taskCompletionMeta.taskCompletedPercentage"
                    aria-valuemin="0" v-bind:aria-valuemax="taskCompletionMeta.totalTaskCount" tabindex="0">
                <title>The progress bar indicates your current task progress</title>
                <defs>
                    <linearGradient id="radialProgressBar__gradient">
                        <stop offset="0%"  stop-color="#46549C"/>
                        <stop offset="100%" stop-color="#36BCEC"/>
                    </linearGradient>
                </defs>
                <g>
                    <circle class="radial-progressbar__circle radial-progressbar__circle--indicator" v-bind:r="radius" v-bind:cx="radius + 10" v-bind:cy="radius + 10" v-bind:stroke-dasharray="circumference + 'px'" stroke="url(#radialProgressBar__gradient)"></circle>
                    <g transform="rotate(90, 50, 50)">
                        <text class="radial-progressbar__text" v-bind:x="radius + 10" v-bind:y="radius + 5" v-bind:font-size="radius/2">{{ taskCompletionMeta.taskCompletedPercentage + '%' }}</text>
                        <text class="radial-progressbar__text radial-progressbar__text--sm" v-bind:x="radius + 10" v-bind:y="radius + 5" v-bind:font-size="radius/2" dy="20">done</text>
                    </g>
                </g>
                <circle class="radial-progressbar__circle radial-progressbar__circle--cover" v-bind:r="radius" v-bind:cx="radius + 10" v-bind:cy="radius + 10" v-bind:stroke-dasharray="circumference+'px'" v-bind:stroke-dashoffset="offset + 'px'"></circle>
            </svg>
        </div>
        <div id="radialProgressBarTitle" class="task__progress-status"> {{ taskCompletionMeta.completedTaskCount }} out of {{ taskCompletionMeta.totalTaskCount }} tasks done</div>
    </div>
</template>

<script>
export default {
  name: "RadialProgressBar",
  data() {
    return {
      radius: 40
    };
  },
  computed: {
    offset: function() {
      return (
        -(this.circumference / 100) *
        this.taskCompletionMeta.taskCompletedPercentage
      );
    },
    circumference: function() {
      return 2 * Math.PI * this.radius;
    },
    taskCompletionMeta: function() {
      return this.$store.getters.taskCompletionMeta;
    }
  }
};
</script>