<template>
    <div id="taskCalendar" class="task-calendar">
        <div class="task-calendar__frame" tabindex="0" aria-describedby="todayCalendar">
            <div id="todayCalendar" class="at-only">Below is your tasks for {{ atDate }}</div>
            <div class="task-calendar__meta" aria-hidden="true">
                <time v-bind:datetime="lDate" class="task-calendar__date">{{ date }}</time>
                <div class="task-calendar__year">
                    <time v-bind:datetime="lMonth">{{ month }}</time>
                    <time v-bind:datetime="year">{{ year }}</time>
                </div>
            </div>
            <time class="task-calendar__day" aria-hidden="true">{{ day }}</time>
        </div>
    </div>
</template>

<script>
import moment from 'moment';
export default {
  name: 'TaskCalendar',
   data() {
       return {
        date: moment().format('DD'),
        lDate: moment().format('YYYY-MM-DD'),
        month: moment().format('MMMM'),
        lMonth: moment().format('YYYY-MM'),
        year: moment().format('YYYY'),
        day: moment().format('dddd'),
        atDate: moment().format('MMMM DD')
       }
    }
}
</script>