<template>
  <div id="app" class="app-container">
      <div class="app-inner">
        <h1 class="app-heading" id="appHeading">Your Task List</h1>
        <main class="task-container" aria-labelledby="appHeading">
          <header class="task-container__header">
            <TaskCalendar />
            <RadialProgressBar />
          </header>
          <TaskContainer />
        </main>
      </div>
      <footer class="app-footer">
        <a href="https://twitter.com/knowkalpesh" target="_blank" rel="noopener" title="Follow creator on Twitter">
          <img src="@/assets/icons/twitter.svg"  alt="Follow Kalpesh Singh on Twitter" />
        </a>
        </footer>
    </div>
</template>

<script type="text/javascript" src="./database.js"></script>
<script>
import "./scss/main.scss";
import moment from "moment";
import TaskCalendar from "./components/TaskCalendar.vue";
import RadialProgressBar from "./components/RadialProgressBar.vue";
import TaskContainer from "./components/TaskContainer/TaskContainer.vue";

export default {
  name: "app",
  components: {
    RadialProgressBar,
    TaskCalendar,
    TaskContainer
  }
};
</script>