.app-heading {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.task-container {
  width: 330px;
  margin-left: auto;
  margin-right: auto;
}

.task-container__header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    var(--primary-color) url(https://source.unsplash.com/random/800x600)
      no-repeat top center/cover;
  height: 170px;
  color: #ffffff;
  display: flex;
  transition: background 0.5s ease;
}

.task-container__header:hover {
  background-position-y: 100%;
}

.task-calendar,
.task-progress {
  flex: 1;
  text-align: center;
}

.task-calendar {
  align-self: center;
  padding: 10px;
}

.task-calendar__frame {
  border-width: 5px 5px 10px 5px;
  border-style: solid;
  padding: 8px 5px;
  user-select: none;
}

.task-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1) 10%,
    rgba(0, 0, 0, 0.6)
  );
  padding: 20px;
}

.task-calendar__meta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-calendar__date {
  font-size: 60px;
  font-weight: 600;
  margin-right: 8px;
  text-shadow: 0px 3px 0 #222222;
}

.task-calendar__year > time {
  display: block;
}

.task-calendar__year > time:nth-child(2) {
  margin-top: 12px;
  display: inline-block;
}

.task-calendar__day {
  font-size: 14px;
  letter-spacing: 5px;
  margin-right: -5px;
  text-transform: uppercase;
}

.task__progress-status {
  font-size: 12px;
  margin-top: 5px;
}

.task-main {
  background-color: #ffffff;
  border-radius: 0 0 var(--radius) var(--radius);
  box-shadow: var(--box-shadow);
}

.task-main__inner.task-main__inner--blur {
  filter: blur(3px);
  pointer-events: none;
}

.task-main-empty {
  padding: 20px;
}

.task-list {
  overflow-y: auto;
  padding: 20px;
  max-height: 205px;
}

.task-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-highlight {
  animation: task-added 3s;
}

.task-list__item:not(:last-child) {
  margin-bottom: 15px;
}

.task-content__timestamp {
  display: block;
  font-size: 11px;
  color: darken($subtle-color, 50);
  margin-top: 5px;
  padding-left: #{$gutter-padding};
}

.task-actions {
  margin-left: 20px;
}

.task-delete {
  position: relative;
  background-color: transparent;
  border: 0;
  width: 30px;
  cursor: pointer;
}

.task-delete > img {
  width: 100%;
}

.task-checked {
  text-decoration: line-through double;
}

.task-tags-container {
  padding-left: 30px;
  margin-top: 5px;
}
.task-tag {
  display: inline-block;
  font-size: 9px;
  font-weight: 500;
  color: #fff;
  padding: 4px 8px;
  border-radius: 2px;
  background-color: crimson;
  margin-right: 5px;
}

.task-footer {
  padding: 0 10px 10px;
}

.task-footer > form {
  display: flex;
}

.task-footer > form > input {
  flex: 5;
  margin-right: 10px;
  font-size: 14px;
}

.task-footer > form > .btn {
  box-shadow: var(--box-shadow);
}

.task-list-controls {
  padding: 10px;
  margin-top: 20px;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--radius);
}

@keyframes task-added {
  from {
    background-color: #ff7;
  }
  to {
    background-color: transparent;
  }
}
