.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.banner__profile {
    display: flex;
    align-items: center;
}

.banner__profile-avatar {
    max-width: 45px;
    margin-right: 5px;
    border-radius: 50%;
    border: solid 2px #ffffff;
}

.banner__profile-greetings {
    display: block;
    font-size: 14px;
}

.banner__profile-logout {
    display: block;
    font-size: 14px;
}
