input {
    padding: 12px;
    border: solid 1px #f0f0f0;
    background-color: var(--subtle-color);

}

.btn {
    padding: 12px;
    border: 0;
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 14px;
    border-radius: var(--radius);
}

*[disabled] {
    opacity: 0.4;
}

input:focus label {
    position: relative;
    outline: solid 2px var(--secondary-color);
    outline-offset: 5px;
}
