h1 {
    font-size: 36px;
    line-height: 1.1;
}

h2 {
    font-size: 30px;
    line-height: 1.1;
}

h3 {
    font-size: 24px;
    line-height: 1.1;
}

h4 {
    font-size: 18px;
    line-height: 1.2;
}

h5 {
    font-size: 14px;
    line-height: 1.25;
}

h6 {
    font-size: 12px;
    line-height: 1.3;
}
