.task__progress-bar > svg {
    transform: rotate(270deg);
}

.radial-progressbar__circle {
    stroke-width: 5px;
    fill: transparent;
    transform: rotate(0.1deg); /*fix for Firefox*/
    transition: stroke-dashoffset 2s ease;
}

.radial-progressbar__circle--cover {
    stroke: #C2C0C0;
    stroke-width: 5px;
}

.radial-progressbar__circle--indicator {
    stroke-dashoffset: 0;
}

.radial-progressbar__text {
    text-anchor: middle;
    alignment-baseline: central;
    fill: #ffffff;
    stroke-width: 2px;
}

.radial-progressbar__text--sm {
    font-size: 12px;
}
