/* ==========================================================================
   Themes - Oceanic (Default)
   ========================================================================== */

$primary-color: #46549c;
$subtle-color: #f4f4f4;

:root {
  --main-bg-color: linear-gradient(to right bottom, #fbfbfb, #ededed);
  --primary-color: #{$primary-color};
  --secondary-color: #36bcec;
  --subtle-color: #{$subtle-color};
  --font-style: var(--primary-font);
  --link-color: #494949;
  --box-shadow: 0 16px 24px 2px rgba(175, 175, 175, 0.14),
    0 6px 30px 5px rgba(175, 175, 175, 0.12),
    0 8px 10px -5px rgba(175, 175, 175, 0.3);
  --radius: 3px;
  --primary-font: "Muli", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--font-style);
  background: var(--main-bg-color) no-repeat;
  min-height: 100vh;
  width: 100vw;
}

/* ==========================================================================
   Form Elements
   ========================================================================== */

$gutter-padding: 30px;

.control {
  display: block;
  position: relative;
  padding-left: #{$gutter-padding};
  cursor: pointer;
  font-size: 15px;
  line-height: 1.4;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  background: var(--subtle-color);
  border-radius: var(--radius);
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background-color: #e7e7e7;
}

.control input:focus ~ .control__indicator {
  outline: solid 2px var(--secondary-color);
  outline-offset: 5px;
}

.control input:checked ~ .control__indicator {
  background-color: var(--primary-color);
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background-color: darken($primary-color, 10);
}
.control input:disabled ~ .control__indicator {
  background-color: darken($subtle-color, 10);
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: "";
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 9px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  border-radius: var(--radius);
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

/* ==========================================================================
   Scrollbar
   ========================================================================== */

.task-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  background-color: var(--subtle-color);
}

.task-list::-webkit-scrollbar {
  width: 6px;
  background-color: var(--subtle-color);
}

.task-list::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}
