
/*
 * Provides higher contrast cross-browser placeholder
 */

::-webkit-input-placeholder {
    color: #444;
    font-size: 12px;
    font-style: italic;
}
::-moz-placeholder {
    color: #444;
    font-size: 12px;
    font-style: italic;
}
:-ms-input-placeholder {
    color: #444;
    font-size: 12px;
    font-style: italic;
}
:-moz-placeholder {
    color: #444;
    font-size: 12px;
    font-style: italic;
}

::placeholder {
    color: #444;
    font-size: 12px;
    font-style: italic;
}

:focus {
    outline: solid 2px var(--secondary-color);
    outline-offset: 5px;
}


[data-tooltip]::before {
    content: attr(data-tooltip);
    display: inline-block;
    position: absolute;
    top: calc(-100% - 10px);
    left: -50%;
    font-size: 13px;
    padding: 3px 10px;
    background: rgba(17,17,17,.8);
    color: #fff;
    border: 1px solid rgba(17,17,17,.2);
    border-radius: 2px;
    text-decoration: none;
    height: 22px;
    line-height: 22px;
    width: auto;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: opacity 150ms linear,transform 150ms linear,-webkit-transform 150ms linear;
    transform: translate3d(0,5px,0);
    z-index: 3;
}

[data-tooltip]::after {
    content: '▼';
    position: absolute;
    left: calc(50% - 5px);
    top: -10px;
    opacity: 0;
    transform: translate3d(0, 5px, 0);
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    opacity: 1;
    transform: translate3d(0,0,0);
    pointer-events: auto;
}
